.movieTitle{
    color: rgb(182, 182, 182);
    font-family: 'Open Sans light';
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
}
.tabParent{
    margin-top: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    background-color: #1F2937;
}
.tabParent a {
    padding :7px 15px;
    margin-left: 20px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 15px;
}
.tabActive{
    background-color: #f1d900;
    color: #000000;

}
.tabNotActive{
    background-color: #18202c;
    color: #ffffff;
}
.error{
    color: rgb(255, 27, 27);
    font-family: "Open Sans light";
}