.parent{
    width: 100%;
    height: 70px;
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 20px;
}
.logoParent{
    font-family: "Open sans light";
    color: white;
}
.left{
    width: 100%;
    display: flex;
    align-items: center;
}

.searchParent{
    width: 100%;
    margin-left: 20px;
    display: flex;
    position: relative;
}
.searchParent button{
    padding: 0 20px;
    background-color: #FFE600;
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: "Open Sans regular";
    cursor: pointer;

}
.searchParent button:hover{
    transform: scale(1.030);
}
.searchParent input{
    height: 35px;
    width: 100%;
    margin-right: 12px;
    background-color: #374151;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0 20px;
    color: #ffffff;
    font-family: "Open Sans light";
}
::placeholder {
    color: rgb(196, 196, 196);
    opacity: 1; /* Firefox */
}
.inputSearchIcon{
    position: absolute;
    right: 130px;
    top: 6px;
    color: #576780;
    transform: rotateY(180deg);
}
.right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.navLink , .navLinkActive{
    color: #ffffff;
    font-family: "Open Sans light";
    font-size: 14px;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 3px;
}
.navLink:hover , .navLinkActive:hover{
    transform: scale(1.030);
} 
.navLink{
    background-color: #13161b;
}
.navLinkActive{
    background-color: none;
}