.silderTitle{
    margin-bottom: 20px;
    display: flex;
    color: rgb(219, 219, 0);
    align-items: center;
}
.silderTitle a {
    color: rgb(219, 219, 0);
    text-decoration: none;
}
.error{
    color: rgb(255, 27, 27);
    font-family: "Open Sans light";
}
.loading{
    color: green;
    font-family: "Open Sans light";
}