.movieParent{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(215px , 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: flex-start;
}
.movieTitle{
    font-family: "Open Sans light";
    font-weight: 100;
    font-size: 20px;
    color: #cab600;
    margin-bottom: 20px;
}
.pageTitle{
    margin: 20px 0;
    display: flex;
    color: #A09000;
    align-items: center;
}
.miniSliderSlideParent{
    position: relative;
}